<div class="span7">
  <h2> Welcome, User </h2>

  <strong><%= link_to 'Add Keyword', new_search_phrase_path %></strong>

  <% if !@keywords.empty? %>
    <table class="table table-bordered">

      <thead>
          <tr>
            <td><h4> Keywords </h4></td>
            <td><h4> Options  </h4></td>
          </tr>
      </thead>

      <tbody>
        <% @keywords.each do |keyword| %>
          <tr>
            <td><%= keyword.keyword %></td>
            <td>
                <%= link_to ' Edit', edit_search_phrase_path(keyword) %> | 
                <%= link_to 'Delete ', search_phrase_path(keyword),
                          method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% end %>
</div>