<h1> Welcome, User </h1>

<strong><%= link_to 'Add', new_search_phrase_path %></strong>

<table border="1">

  <% if !@keywords.empty? %>
    <tr>
      <td> Keyword </td>
      <td> Options </td>
    </tr>
  <% end %>
  
  <% @keywords.each do |keyword| %>
    <tr>
      <td><%= keyword.keyword %></td>
      <td>
          <%= link_to ' Edit', edit_search_phrase_path(keyword) %> | 
          <%= link_to 'Delete ', search_phrase_path(keyword),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

</table>