<h4>Welcome to Facebook Newsfeed Monitor</h4><br/>
<div style="float: left;">
  <%= link_to image_tag('http://takedesigns.com/wp-content/uploads/2013/02/social-facebook-box-blue.ico', size: '50'),
    user_omniauth_authorize_path(:facebook) %>
</div>
<h1><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></h1>
