<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Facebook Newsfeed Monitor </h1>
    <strong> Result for Search Phrase(s) </strong> <br/><br/>
    <%= user_search_phrases(@user) %><br/><br/>

    <strong> Click on the posts to open the links </strong><br/><br/>
    <ul>
      <% @feeds.each do |feed| %>
        <li>
          <%=  highlight_feed(feed, @user.search_phrases) %>
          <%= link_to 'Open', feed['permalink'] %>
        </li>
      <% end %>
    </ul>

  </body>
</html>